{% extends "master.html.twig" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //recaptcha
    grecaptcha.ready(function () {
        grecaptcha.execute('6Lew1NsaAAAAAJhqKotyf_0JOyPvBrrCOnoJiaac', { action: 'submit' }).then(function (token) {
            var recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = token;
        });
    });
</script>

{% endblock head %}

{% block title %}Delivery
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h5 class="teal-text center-align">{{flashmessage}}</h5>
    </div>
    <div class="row" id="delivery">
        <h2 class="center-align teal" style="padding: 1vw;">Delivery</h2>
        <div class="col  s12 card-panel" style="padding-top: 1vw;">
            <form class="col m12" method="post" enctype="multipart/form-data" style="padding: 0 2rem;">
                <div class="row">
                    <div class="input-field col l6 m12">
                        <i class="material-icons prefix">person</i>
                        <input id="first_name" name="firstname" type="text" class="validate"
                            value="{{userSession.firstname}}" disabled>
                        <label class="active" for="first_name">First Name</label>
                        <span class="helper-text red-text">{{errorList.firstname}}</span>
                    </div>
                    <div class="input-field col l6 m12">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" name="lastname" type="text" class="validate"
                            value="{{userSession.lastname}}" disabled>
                        <label class="active" for="last_name">Last Name</label>
                        <span class="helper-text red-text">{{errorList.lastname}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m12">
                        <i class="material-icons prefix">mail</i>
                        <input id="email" name="email" type="email" class="form-input validate"
                            value="{{userSession.email}}" disabled>
                        <label class="active" for="email">Email</label>
                        <span class="helper-text red-text">{{errorList.email}}</span>
                        <span class="errorMessage red-text"></span>
                    </div>
                    <div class="input-field col l6 m12">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone" name="phone" type="text" class="form-input validate" value="{{v.phone}}"
                            required>
                        <label class="active" for="phone">Phone</label>
                        <span class="helper-text red-text">{{errorList.phone}}</span>
                        <span class="errorMessage red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">luggage
                        </i>
                        <input id="weight" name="weight" type="number" class="form-input validate" value="{{v.weight}}"
                            required>
                        <label class="active" for="weight">Weigth (kg)</label>
                        <span class="helper-text red-text">{{errorList.weight}}</span>
                        <span class="errorMessage red-text"></span>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">calendar_today</i>
                        <input id="date" name="date" type="date" value="{{v.date}}" required>
                        <label class="active" for="date">Delivery Date</label>
                        <span class="helper-text red-text">{{errorList.date}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" style="margin-top: 0;">
                        <i class="material-icons prefix">message</i>
                        <textarea id="description" name="description" class="materialize-textarea"
                            value="{{v.description_strp}}"></textarea>
                        <label class="active" for="description">Description</label>
                        <span class="helper-text red-text">{{errorList.description}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m12">
                        <h6 style="margin: 1vh; ">Choose spaceship</h6>
                        <div class="row">
                            <div class="input-field col s12" style="margin-top: 0;">
                                <p>
                                    <label style="margin: 4vh;">
                                        <input class="with-gap" name="spaceship" type="radio" value="dragon" checked />
                                        <span>Dragon</span>
                                    </label>
                                    <label>
                                        <input class="with-gap" name="spaceship" type="radio" value="starship" />
                                        <span>Starship</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col l6 m12">
                        <h6>Upload image</h6>
                        <div class="input-field col s12">
                            <!-- <i class="material-icons prefix">image</i> -->
                            <label class="active" for="file"> </label>
                            <input id="file" accept="image/*" name="image" type="file" value="{{v.image}}" multiple />
                            <div style="margin-top: 2vh;  height: 11vh; width:16vh;"><img id="image" width="100%" />
                            </div>
                            <span class="helper-text red-text">{{errorList.image}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m12">
                        <div class="left-align" style="margin-bottom: 6vh;">

                            <a href="/calculator"><img src="/images/calcul.png" style="width:4vh; margin: 1vh; "
                                    alt="calculator"></a>
                            <a class="teal-text" href="/calculator">Calculate delivery</a>
                        </div>
                    </div>
                    <div class="col l6 m12">
                        <p class="right-align custom_button">
                            <input type="hidden" name="recaptcha_response" value="" id="recaptchaResponse">
                            <input type="submit" value="SUBMIT"
                                style=" font-weight: 400; border-radius: 4px; border: none; box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.15); background: #26A69A;height: 4rem;width: 15rem;font-size: 1.2rem;cursor: pointer;" />
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block bottom %}
<!-- image display -->
<script>
    document.getElementById('file').onchange = function () {
        var src = URL.createObjectURL(this.files[0])
        document.getElementById('image').src = src
    }
</script>
{% endblock %}